config DVB_TBSECP3
	tristate "TBS ECP3 FPGA based cards"
	depends on DVB_CORE && PCI && I2C
	select I2C_ALGOBIT
	select DVB_TAS2101 if MEDIA_SUBDRV_AUTOSELECT
	select MEDIA_TUNER_AV201X if MEDIA_SUBDRV_AUTOSELECT
	select DVB_STV091X if MEDIA_SUBDRV_AUTOSELECT
	select MEDIA_TUNER_STV6120 if MEDIA_SUBDRV_AUTOSELECT
	select DVB_SI2168 if MEDIA_SUBDRV_AUTOSELECT
	select MEDIA_TUNER_SI2157 if MEDIA_SUBDRV_AUTOSELECT
	select DVB_MXL58X if MEDIA_SUBDRV_AUTOSELECT
	select DVB_SI2183 if MEDIA_SUBDRV_AUTOSELECT
	select DVB_MN88436 if MEDIA_SUBDRV_AUTOSELECT
	select MEDIA_TUNER_MXL603 if MEDIA_SUBDRV_AUTOSELECT
	select DVB_GX1503 if MEDIA_SUBDRV_AUTOSELECT
	select DVB_MTV23X if MEDIA_SUBDRV_AUTOSELECT
	select DVB_TAS2971 if MEDIA_SUBDRV_AUTOSELECT
	select DVB_STID135 if MEDIA_SUBDRV_AUTOSELECT
	help
	  Support for cards with TBS ECP3 FPGA based PCIe bridge.

	  Say Y or M if you own such a device and want to use it.
	  If unsure say N.
